$main-bg-color: #919890;
$sexyPurple:#c937bd;
$black: #000000;
$darkBlue:#1b5aa9;
$blue: #3c95ee;
$white: #ffffff;


/* Screen Size Definitions */
$small-glass: 576px;
$mid-glass: 768px;
$large-glass: 992px;
$xlarge-glass: 1200px;

